h2 Register New Customer
form(method='post', action='/register')
 p Email:
   input(name='email', id='email', type='text')
 p Password:     
   input(name='password', value='', type='password')
 p Comfirm Password:
   input(name='confirmPassword', value='', type='password')
 p 
   input(name='submit', value='Register', type='submit')